.heading{
    text-align: center;
    background-color:lightseagreen;
    color: white;
    padding: 3px;
    border-radius: 9px;
    font-weight: bold;
    font-family: sans-serif;
    height: 36px;
    font-size: 27px;
    margin: ;
    
}